#image-thumbnails {
    width: 10em;
    min-width: 10em;
    max-width: 10em;
    border: solid 2px red;
}

.columna > img  {
    max-width: 100px;
    border: solid 2px green;
}

.publicacion {
    display: flex;
    border: solid 2px blue;
    
}
.imagen-ampliada{
    width: 100px;
}

#contenedor{
    border: solid 2px yellow;
    width: 50%;
    justify-content:right;
}
img:hover{
    transition: all 0.6s ease;
    filter: brightness(95%);
    transform: scale(1.1);
    box-shadow: -2px 2px 3px;
}