@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    margin-bottom: 3em;
}
#image-thumbnails {
    width: 10em;
    min-width: 10em;
    max-width: 10em;
}

.columna > img  {
    max-width: 10em;
    border-radius: 3px;
    margin-bottom: 0.7em; 
}

.publicacion {
    display: flex;
    justify-content: center;}

.imagen-ampliada {
    max-width: 30em;
    margin: 0em 2em;
    display: flex;
    align-items: center;
    border-radius: 5px;

}

.imagen-ampliada > img {
    max-width: 100%;
    border: 1px solid #6b6b6b;
    border-radius: 3px
}

.columna img:hover {
    border: 2.7px solid #f39155
}

.price-txt{
    display: flex;
}
#contenedor > .price-txt > .precio {
    font-size: 200%;
    font-weight: 600;
}

#contenedor > .price-txt > .descuento {
    font-size: 200%;
    font-weight: 600;
    background-color: #f39915;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-left: 1em;
    padding: 3px;
    max-height: 54px;
}

#contenedor > #cartBtn {
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b6b6b;
    color: #000000;
    border-radius: 3px;
    padding: 3px;
}

@media (max-width: 920px) {
    .publicacion {
      flex-direction: column;
      align-items: center;
    }
  
    .imagen-ampliada {
      margin: 1em 0;
    }

    .columna {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }
  
    .columna > img {
      min-width: 2em; 
    }
  
    #image-thumbnails{
        max-width: 100%;
        width: 100%;
        height: auto;
        gap: 0.4em;
    }
    #contenedor {
      width: 100%;
    }

    #contenedor > #cartBtn {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(5%) 
    }
  }
  
