* {
    margin: 0.6em;
    padding: 0px;
    box-sizing: border-box;
    background-color: F1F0EF;
    
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 150vh;
    flex-direction: column;
    padding: 1em;
}
section h1{
    font-size: 3em;
}
section h2{
    font-size: 3em ;
    text-align: center;
    margin-bottom: 0.2em;
    padding: 0.5em;
    width: 100%;
}
section form{
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    border-width: 20px;
    border-radius: 20px;
    border: 2px solid black;
}
section form label{
    padding:0.2 px ;
    width: 100%;
    margin-bottom: 0.2em;
}
section form input{
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 9px;
    border: none;
    padding: 0.5em;
    outline-color: blue;
    background-color: #E7EEEE;


}
section form input:active{
    transform: scale(0.97);
}
section form input[type="submit"]{
    margin-top: 1.5em;
   background-color: #3498DB;
   color: #E2E2EE ;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
section form input[type="submit"]:active{
    transform: scale(0.97);
}

p{
   text-align: center; 
   
}
